---
layout: default
---

<div class="catalogue" style="margin-bottom: 30px;">
  {% for post in paginator.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
      <div>
        <!-- <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time> -->
        <h1 class="catalogue-title">{{ post.title }}</h1>
        <div class="catalogue-line"></div>

        <p>
          <!-- {{ post.excerpt | truncatewords: 50 | strip_html }} -->
          {{ post.excerpt | truncatewords: 50 }}
        </p>

      </div>
    </a>
  {% endfor %}
</div>

<div class="pagination" style="position: fixed; bottom: 0px; width: 100%; left: 0; padding-bottom: 30px; background-color: white;">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">< see previous page</a>
  {% endif %}

  <span style="margin: 5px;"> {{ paginator.page }} </span>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">see more pieces of work ></a>
  {% endif %}
</div>
