---
layout: default
---

<div class="post" style="margin-bottom: 30px;">
  <!-- <div class="post-info">
    <span>Written by</span>
    {% if page.author %}
        {{ page.author }}
    {% else %}
        {{ site.author.name }}
    {% endif %}

    {% if page.date %}
      <br>
      <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div> -->

  <h1 class="post-title"><small>{{ page.title }}</small></h1>
  <div class="post-line"></div>

  {{ content }}

</div>

<div class="pagination" style="position: fixed; bottom: 0px; width: 100%; left: 0; padding-bottom: 30px; background-color: white;">
  <!-- {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}">&#8592;</a>
  {% endif %} -->

  <a href="#" class="top">Top</a>

  <!-- {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}">&#8594;</a>
  {% endif %} -->
</div>
